.item {
  border: 1px solid black;
  -webkit-box-shadow: 4px 1px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 1px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 1px 10px 0px rgba(0, 0, 0, 0.75);
  margin: 10px;
  padding-left: 30px;
}
